<% include ./header.ejs %>
<link rel="stylesheet" href="css/home.css">
<style>
	.zebra li:nth-child(odd) {
		background: #eee;
	}
	li {
    list-style-type: none;
	}
/*	@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=cyrillic-ext');*/
</style>

  <body>
  	<div class="main">
			<div class="content">
    		<div id="app">
    			<div class="pure-g">
    				<div class="pure-u-1">
    					<h2>Library</h2>
    				</div>
	  				<div class="pure-u-1">
    					<ul class="zebra">
    						<li>
									<h2>Artist</h2><span>></span>
    						</li>
    						<li>123</li>
    						<li>123</li>
    					</ul>
    				</div>
	   				<div class="pure-u-1">
    					<h4>footer</h4>
    				</div>


    			</div>
    		</div>
    	</div>
    </div>


<% include ./footer.ejs %>
  </body>
  </html>