<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Station Edit</title>
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="author" href="humans.txt">
     <link href="https://fonts.googleapis.com/css?family=Oswald:400,500&amp;subset=cyrillic" rel="stylesheet">
  </head>

  <body>
    <div class="pure-g">
      <div class="pure-u-1">
        <form class="pure-form" method="post" action="/mpd">
          <fieldset>
            <input type="text" name="command" /><br />
            <input type="text" name="param" /><br />
            
            <button type="submit" class="pure-button pure-button-primary">Sign in</button>
          </fieldset>
        </form>
      </div>
    </div>
    <div>
      <p><%=msg%></p>
    </div>



  </body>

  </html>
